@using NancyDemo.Lib
@using NancyDemo.Lib.Extensions
@inherits NancyRazorViewBase<System.Collections.Generic.IList<NancyDemo.Lib.Domain.Product>>

@{
    ViewBag.Title = "Products";
}

<div class="col-md-12">
    @foreach (var chunk in Model.InChunksOf(3))
    {
        foreach (var product in chunk)
        {
            <div class="col-md-4 margin-below" style="height:240px;">
                <div class="centered" style="position:relative; height: 100%; width:100%;">
                    <div class="clear-both" style="margin:10px;">
                        <img src="/Content/Images/@product.GetImageFile()" alt="@product.Name" height="120" width="120" />
                    </div>
                    <div class="clear-both"></div>
                    <div>
                        <a href="@string.Format("/{0}", product.Id)">@product.Name</a>
                        <div>@product.Price.ToString("C")</div>
                        <form action="buy/@product.Id" method="POST">
                            <button type="submit" class="btn btn-xl btn-success">@Generate.BuyMessage()</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    }
</div>